.card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .card {
    border-radius: 10px;
  }
  .btn-custom {
    background-color: rgb(119, 182, 202);
    color: white;
    border: none;
    transition: 0.3s;
  }
  
  .btn-custom:hover {
    background-color: rgb(99, 162, 182);
  }
  