<div class="container mt-4">
    <h2>Créer une nouvelle demande</h2>
    <form (ngSubmit)="onSubmit()" #demandeForm="ngForm">
  
      <div class="mb-3">
        <label for="titre" class="form-label">Titre</label>
        <input type="text" id="titre" class="form-control" [(ngModel)]="demande.titre" name="titre" required>
      </div>
  
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea id="description" class="form-control" [(ngModel)]="demande.description" name="description" required></textarea>
      </div>
  
      <div class="mb-3">
        <label for="date" class="form-label">Date</label>
        <input type="date" id="date" class="form-control" [(ngModel)]="demande.date" name="date" required>
      </div>
  
      <div class="mb-3">
        <label for="statut" class="form-label">Statut</label>
        <select id="statut" class="form-control" [(ngModel)]="demande.statut" name="statut" disabled>
          <option value="En attente">En attente</option>
        </select>
      </div>
      
      <!-- Centrer le bouton -->
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-custom">Passer la demande </button>
      </div>

    </form>
  </div>
  